<!-- <router-outlet></router-outlet> 
<router-outlet name="secondary"></router-outlet> -->


<div class="container-fluid">
  <div class="row">
    <app-sidebar class="col-2 no-side-padding side-menu"></app-sidebar>

    <div id="page-content" class="col">
        
        <app-nav-top></app-nav-top>

        <router-outlet>
        </router-outlet>
      
    </div>
  </div>
</div>


<!-- <div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        One of two columns
      </div>
      <div class="col-4">
        One of two columns
      </div>
    </div>
  </div> -->