<div *ngIf="!currentUser"
  class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-7">
      <div class="list-group">

        <div (click)="selectUser(user)"
          *ngFor="let user of users"
          class="list-group-item list-group-item-action flex-column align-items-start"
          [ngClass]="{'active': user.username == lastUserAdded.username}">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{user.username}}</h5>
            <small>{{user.timeSinceCreation}}</small>
          </div>
          <p class="mb-1">{{user.goals}}</p>
          <small>Renda {{user.salary}}</small>
        </div>

      </div>

      <div class="container mt-4">
        <div class="row m-3 p-3 justify-content-center">
          <a class="btn btn-primary"
            [routerLink]="['/login']"
            routerLinkActive="router-link-active">Criar novo usuario</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="currentUser">
  <!--  -->
  <div class="container-fluid justify-content-center mt-4">
    <div>
      <h3>
        Saude finaceira
      </h3>

    </div>
    <div class="row">
      <div class="col-5 m-2">
        <div class="row">
          <div class=box>
            <div class="balance-title">
              Balanco total
            </div>
            <div class="balance-value">
              R$ 123,00
            </div>
          </div>
          <div class=box>
            <div class="balance-title">
              other balance
            </div>
            <div class="balance-value">R$ 123,00</div>
          </div>
          <div class=box>
            <div class="balance-title">
              Para pagar hoje
            </div>
            <div class="balance-value balance-alert">R$ 123,00</div>
          </div>
        </div>
      </div>
      <div class="col card m-2 alert borderless">
        <h6 class="card-subtitle mt-4 mb-2 text-muted text-center">Ultimos gastos (Duas semanas)</h6>
        <div class="card-body">
          <ul style="padding: 0">
            <li class="custom-li d-flex justify-content-between align-items-center"
              *ngFor="let item of expenses">{{item.title}}
              <div class="badge-box"
                ngbPopover="No dia {{item.dateStr}} foram gastos R$ {{item.valor}},00 em {{item.title}} "
                triggers="mouseenter:mouseleave"
                popoverTitle="Gasto">
                <span class="badge badge-danger badge-pill">R$ {{item.valor}},00</span>
              </div>
            </li>
          </ul>



          <div *ngIf="!allExpensesLoaded"
            class="text-right">
            <button (click)="loadAllExpenses()"
              class="btn btn-outline-danger">Ver mais detalhes</button>

          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- 
  <app-balanco-gastos></app-balanco-gastos> -->



  <!--  -->
</div>